.label {
  display: block;
}

.title {
  line-height: 1;
  margin-bottom: 5px;
}

.error {
  color: var(--c-red);
  padding-top: 5px;
  font-size: 12px;
  line-height: 1;
  height: 25px;
}

.input {
  border-radius: 4px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.textarea {
  height: 400px;
}
